<h1>Blog</h1>

<h1>
<%=

  "#{@title1}
  #{@date1}
  #{@sponsor1}
  #{@text1}

  #{@title2}
  #{@date2}
  #{@sponsor2}
  #{@text2}



  #{@title3}
  #{@date3}
  #{@sponsor3}
  #{@text3}"


  %>



</h1>
