<html>
<head>
  <title>Authen</title>
</head>
<body>

  <h1>Log in</h1>
  <form action="/caca_de_vaca" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password"> <br> </br>

    <button type="submit">Log in</button>


  </form>
</form>

</body>
</html>
