<div class="home">
  <div class="container">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= form_tag('/', method: :get) %>
        <h1 style="margin-top:70px; margin-bottom:30px;">Introduce el numero de vanos</h1>
        <div class="form-group box">
            <input type="number" name="numero_vanos" class="form-control" placeholder="Numero de Vanos">
        </div>
        <div class="form-group box">
          <button class="btn btn-default form-control" type="submit">¡¡GOOO!!</button>
        </div>
      </form>
     </div>
    </div>
  </div>
</div>
