
header {
	background-color: #004A80;
	text-align: center;
	padding: 0px;
    margin:0px auto 0px auto;
}

article {
	background-color: blue;
	width: 1000px;
	height: 700px;
    margin: auto auto auto auto;
	padding: 0px;
}

footer {
  background-color: #444444;
  padding: 0px;
    margin:0px auto 0px auto;
  }

.c1 {


    position: absolute;
    bottom: -280px;
    right: 250px;
    width: 300px;
    height: 500px;
   
}

.c2 {
	text-align: center;
}